# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.venv/

# ======================
# Node / React
# ======================
node_modules/
dist/
.vite/

# ======================
# Docker
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.idea/
.vscode/
